/* RESET */
img{
    max-width: 100%;
}
/* utility */

.wrapper{
    width: 60%;
    margin: 0 auto;
}

/* MAIN */

/* HERO */
#hero{
    background-color: aquamarine;
    min-height: 500px;
}

#hero .col-6{
    border: 1px solid black;
    min-height: 500px;
}

/* wallet */

#wallet .col-12{
    
    min-height: 300px;
}

/* about */
#about{
    background-color: aquamarine;
    min-height: 600px;
}