/* RESET */
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
/* utility */
.ms-btn{
    border: 1px solid white;
}

.wrapper{
    width: 60%;
    margin: 0 auto;
}
/* header */
header{
    height: 80px;
    background-color: #2c3e50;
    color: white;
}
header a {
    color: inherit;
}
ul a {
    color: white;
}
.fa-solid{
    color: white;
}

/* MAIN */

/* HERO */
#hero{
    color: white;
    padding: 3rem;
    background-color: #1abc9c;
    min-height: 500px;
}

#hero .col-6{
    border: 1px solid black;
    min-height: 500px;
}
#hero img {
    width: 300px;
}

/* wallet */

#wallet .col-12{
    
    min-height: 300px;
}
.ms-rounded-25{
    border-radius: 25px;
}

/* about */
#about{
    background-color: #1abc9c;
    
}
#about .container {
    color: white;
}
/* contact */
.ms-bord{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

/* FOOTER */
footer{
    background-color: #3a546d;
    color: white;
}

.ms-row{
    display: flex;
}
.ms-row li{
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
}